$console-font-size: 12px;

.screen-console-boot {
  cursor: none;
  background-color: black;
  color: white;
  font-size: $console-font-size;
  font-family: monospace;

  div {
    margin-top: 2px;
    margin-left: 2px;
  }

  .boot-entry-name {
    margin-left: 15px;
    margin-bottom: $console-font-size;
  }
}

.screen-plymouth-boot {
  cursor: none;

  .kali-dragon-container {
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative;

    // image sizes:
    // logo: 336x250
    // container: 400x400
    // fade: 386x300
    // outline: 380x60
    // idea: padd them all to the same size (400x400px)

    .logo {
      padding: 75px 32px;
    }

    .container {
      padding: 0px 0px;
    }

    .fade {
      padding: 50px 7px;
      opacity: 0.5;
    }

    .outline {
      padding: 0px 10px;
    }


    img {
      box-sizing: border-box;
    }

    .outline {
      top: 340px;
      height: 60px;
    }
  }
}

screen-plymouth-shutdown {
  cursor: none;
}
