@import "layout";
@import "status_bar";
@import "login";

.screen-off {
  background-color: black;
  cursor: none;
}

.screen-manager {
  // Reason: to see what is not covered
  background-color: red;
}
